.form-spacer {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

// @mixin flex {
//   display: -webkit-flex;
//   display: flex;
// }

.main {
  justify-content: center;
  position: fixed;
}

.root {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.icon {
  vertical-align: middle;
  display: inline-block;
}